version: '3.1'
services:
  mysql:
    image: mysql
    container_name: mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    volumes:
      - /Users/duytran/Documents/Docker/Docker-data/Mysql-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: duytc
    ports:
      - "3306:3306"
